USE [master]
GO
/****** Object:  Database [BurgerDb]    Script Date: 15.12.2023 11:21:08 ******/
CREATE DATABASE [BurgerDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BurgerDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BurgerDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BurgerDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BurgerDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BurgerDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BurgerDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15.12.2023 11:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 15.12.2023 11:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 15.12.2023 11:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[IsDelete] [bit] NOT NULL,
	[IsReady] [bit] NOT NULL,
	[IsTakeAway] [bit] NOT NULL,
	[PaymentType] [bit] NOT NULL,
	[ProductId] [int] NOT NULL,
	[PrepTime] [float] NOT NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 15.12.2023 11:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[TotalPrepTime] [float] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tabloes]    Script Date: 15.12.2023 11:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tabloes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[Price] [float] NOT NULL,
	[Quantity] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[IsReady] [bit] NOT NULL,
	[IsTakeAway] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Tabloes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TCPDatas]    Script Date: 15.12.2023 11:21:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TCPDatas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ProductName] [nvarchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[OrderId] [int] NOT NULL,
	[OrderTime] [datetime] NOT NULL,
	[IsReady] [bit] NOT NULL,
	[IsTakeAway] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.TCPDatas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name]) VALUES (1, N'Burgers')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (2, N'Beverages')
INSERT [dbo].[Categories] ([Id], [Name]) VALUES (3, N'Burger Menus')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Id], [OrderTime], [IsDelete], [IsReady], [IsTakeAway], [PaymentType], [ProductId], [PrepTime], [Price], [Quantity], [Name]) VALUES (2108, CAST(N'2023-12-15T11:00:37.660' AS DateTime), 0, 0, 0, 0, 10, 29, 34, 2, N'Alaturka Burger')
INSERT [dbo].[Orders] ([Id], [OrderTime], [IsDelete], [IsReady], [IsTakeAway], [PaymentType], [ProductId], [PrepTime], [Price], [Quantity], [Name]) VALUES (2109, CAST(N'2023-12-15T11:00:37.660' AS DateTime), 0, 0, 0, 0, 10, 14.5, 17, 1, N'Alaturka Burger')
INSERT [dbo].[Orders] ([Id], [OrderTime], [IsDelete], [IsReady], [IsTakeAway], [PaymentType], [ProductId], [PrepTime], [Price], [Quantity], [Name]) VALUES (2110, CAST(N'2023-12-15T11:00:39.700' AS DateTime), 0, 0, 0, 0, 37, 0, 2, 1, N'Buyuk Boy')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Price], [TotalPrepTime], [CategoryId]) VALUES (1, N'BBQ Burger', 15, 12, 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [TotalPrepTime], [CategoryId]) VALUES (2, N'Veggie Burger', 12, 10, 1)
INSERT [dbo].[Products] ([Id], [Name], [Price], [TotalPrepTime], [CategoryId]) VALUES (3, N'Spicy Chicken Burger', 14, 15, 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Tabloes] ON 

INSERT [dbo].[Tabloes] ([Id], [ProductName], [Price], [Quantity], [ProductId], [OrderId], [OrderTime], [IsReady], [IsTakeAway]) VALUES (9651, N'Alaturka Burger', 34, 2, 10, 0, CAST(N'2023-12-15T11:00:37.660' AS DateTime), 0, 0)
INSERT [dbo].[Tabloes] ([Id], [ProductName], [Price], [Quantity], [ProductId], [OrderId], [OrderTime], [IsReady], [IsTakeAway]) VALUES (9652, N'Buyuk Boy', 2, 1, 37, 0, CAST(N'2023-12-15T11:00:39.700' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Tabloes] OFF
GO
SET IDENTITY_INSERT [dbo].[TCPDatas] ON 

INSERT [dbo].[TCPDatas] ([Id], [ProductId], [ProductName], [Quantity], [OrderId], [OrderTime], [IsReady], [IsTakeAway]) VALUES (174, 0, N'Classic Burger', 1, 1, CAST(N'2023-12-15T10:58:31.487' AS DateTime), 0, 0)
INSERT [dbo].[TCPDatas] ([Id], [ProductId], [ProductName], [Quantity], [OrderId], [OrderTime], [IsReady], [IsTakeAway]) VALUES (175, 0, N'Bacon Burger Menu', 1, 2, CAST(N'2023-12-15T10:58:53.117' AS DateTime), 0, 0)
INSERT [dbo].[TCPDatas] ([Id], [ProductId], [ProductName], [Quantity], [OrderId], [OrderTime], [IsReady], [IsTakeAway]) VALUES (176, 0, N'Classic Burger', 2, 3, CAST(N'2023-12-15T11:00:30.613' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[TCPDatas] OFF
GO
/****** Object:  Index [IX_ProductId]    Script Date: 15.12.2023 11:21:08 ******/
CREATE NONCLUSTERED INDEX [IX_ProductId] ON [dbo].[Orders]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CategoryId]    Script Date: 15.12.2023 11:21:08 ******/
CREATE NONCLUSTERED INDEX [IX_CategoryId] ON [dbo].[Products]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [ProductId]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [PrepTime]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Tabloes] ADD  DEFAULT ((0)) FOR [ProductId]
GO
ALTER TABLE [dbo].[Tabloes] ADD  DEFAULT ((0)) FOR [OrderId]
GO
ALTER TABLE [dbo].[Tabloes] ADD  DEFAULT ('1900-01-01T00:00:00.000') FOR [OrderTime]
GO
ALTER TABLE [dbo].[Tabloes] ADD  DEFAULT ((0)) FOR [IsReady]
GO
ALTER TABLE [dbo].[Tabloes] ADD  DEFAULT ((0)) FOR [IsTakeAway]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Orders_dbo.Products_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_dbo.Orders_dbo.Products_ProductId]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_dbo.Products_dbo.Categories_CategoryId]
GO
USE [master]
GO
